<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <title>Test</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <span class="nav__toggler" id="toggler">
          <i id="icon" class="fas fa-bars"></i>
        </span>
        <a href="#" class="nav-brand">Synti-NLP</a>

        <ul class="nav__list" id="nav">
          <li class="nav__item">
            <a href="#home" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return handleSubmit(event)">
          <label for="name">Enter a URL: </label>
          <input
            id="name"
            type="text"
            name="input"
            value=""
            placeholder="Name"
          />
          <input
            type="submit"
            name=""
            value="Submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section class="result">
        <strong>Form Results:</strong>
        <hr />
        <div id="results"></div>
      </section>

      <section id="about">
        <div class="about-content">
          <h1>About me</h1>
          <p>
            Hi! I'm Synti-NLP. I use MeaningCloud's Sentiment Analysis API to
            analyze to determine if the text provided expresses a
            positive/negative/neutral sentiment; To do this, the local polarity
            of the different sentences in the text is identified and the
            relationship between them evaluated, resulting in a global polarity
            value for the whole text. Follow me on Github:
          </p>
          <a
            href="https://github.com/Maximus0898/Evaluate_news_nlp"
            target="_blank"
            rel="noopener"
            ><i class="fab fa-github"></i
          ></a>
        </div>
        <div class="about-img"></div>
      </section>
    </main>

    <footer class="footer">
      <p class="footer__title">Synti-NLP</p>
      <div class="footer__social">
        <a href="#" class="footer__icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer__icon"><i class="fab fa-twitter"></i></a>
      </div>
      <p>&copy; <span id="year"></span> Copyright. All Rights Reserved.</p>
    </footer>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('/service-worker.js')
            .then((registered) => {
              console.log('SW registered: ', registered);
            })
            .catch((regError) => {
              console.log('SW registration failed: ', regError);
            });
        });
      }

      let Nav = document.getElementById('nav');
      let Toggler = document.getElementById('toggler');
      let Icon = document.getElementById('icon');

      Toggler.addEventListener('click', function () {
        Nav.classList.toggle('active');
        if (Icon.classList.contains('fa-bars')) {
          Icon.classList.remove('fa-bars');
          Icon.classList.add('fa-times');
        } else {
          Icon.classList.remove('fa-times');
          Icon.classList.add('fa-bars');
        }
      });
    </script>
  </body>
</html>
