#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 350px;
    background-color: #fede00;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 15px;

    h1 {
      font-size: 25px;
    }

    a {
      color: #000;
      margin: 20px;
    }

    .fa-github {
      font-size: 30px;
    }
  }

  .about-img {
    background: url('../images/brain.jpg');
    background-size: cover;
    height: 390px;
    width: 300px;
    border-radius: 3px;
    margin-bottom: 15px;
  }
}
